<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <title>홈페이지</title>
    </head>
    <body>
        <h1>홈페이지</h1>
        <br>
        <form method="post">
            <table>
                <tr>
                    <td><label>회의분석</label></td>
                </tr>
                <tr>
                    <td><label>크크크</label></td>
                </tr>
            </table>
            <a href="/login.html">로그아웃</a>
        </form>
    </body>
</html>